.DS_Store
*.pdf
*.pkl
*.h5
*.png
!figures/det_repo_img.png
*.npy
*.root
sftp-config.json

# Generated data from scripts
**/generated_data/
**/figures/
**/spatial_overlap_integrals/
**/__pycache__/
**/.ipynb_checkpoints/
**/test_events/
**/autodiff_datasets/
**/output/
**/trained_model/







