.DS_Store
*.pdf
*.pkl
*.h5
*.png
!figures/det_repo_img.png
*.npy

/test_events
*/__pycache__
__pycache__/
/autodiff_datasets
.ipynb_checkpoints/
old_tests/

# Training outputs
output/

notebooks/figures/*

sftp-config.json

notebooks/spatial_overlap_integrals/