.DS_Store
*.pdf
*.pkl
*.h5
*.png
!figures/det_repo_img.png
*.npy

/test_events
*/__pycache__
__pycache__/
/autodiff_datasets
.ipynb_checkpoints/
old_tests/

# Training outputs
output/

# Generated data from scripts
**/generated_data/*
**/figures/*
**/spatial_overlap_integrals/*


sftp-config.json


*.root

